@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.white-shadow {
  @apply p-4 bg-gray-800; /* 使用 Tailwind CSS 的类 */
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.2); /* 自定义白色阴影 */
}

.white-shadow-bg {
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.2);
}

@layer components {
  .custom-3d-rotate {
    transform-style: preserve-3d;
    transform: rotateX(30deg) perspective(900px) translateY(10%);
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.2);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #211f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}